.upload-page{
display:flex;
justify-content:center;
align-items:center;
min-height:calc(100vh - 80px);
}

.upload-card{
width:100%;
max-width:700px;
padding:50px;
border-radius:25px;
background:rgba(20,20,20,.8);
border:1px solid rgba(255,255,255,.08);
backdrop-filter:blur(20px);
text-align:center;
box-shadow:0 20px 50px rgba(0,0,0,.4);
}

.upload-icon{
color:#ff7a18;
margin-bottom:20px;
}

.upload-card h1{
font-size:40px;
color:white;
margin-bottom:20px;
}

.upload-card p{
color:#aaa;
line-height:1.8;
margin-bottom:40px;
}

.upload-box{
height:220px;
border:2px dashed #ff7a18;
border-radius:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:20px;
cursor:pointer;
transition:.35s;
color:white;
}

.upload-box:hover{
background:rgba(255,122,24,.08);
transform:scale(1.02);
}

.upload-btn{
margin-top:35px;
width:100%;
padding:18px;
border:none;
border-radius:14px;
background:linear-gradient(135deg,#ff6a00,#ff2d55);
color:white;
font-size:18px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.upload-btn:hover:not(:disabled){
transform:translateY(-3px);
box-shadow:0 15px 30px rgba(255,106,0,.3);
}

.upload-btn:disabled{
opacity:.7;
cursor:not-allowed;
}