.stat-card{

background:#151515;

border-radius:18px;

padding:25px;

transition:.35s;

cursor:pointer;

box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-header{

display:flex;

justify-content:space-between;

align-items:center;

color:#aaa;

margin-bottom:20px;

}

.stat-card h2{

font-size:42px;

color:white;

}