.dashboard-layout{
    display:flex;
    min-height:100vh;
    background:#070707;
}

.dashboard-main{
    flex:1;
    margin-left:270px;
    display:flex;
    flex-direction:column;
}

.dashboard-content{
    flex:1;
    padding:35px;
    overflow-y:auto;
}

@media(max-width:992px){

.dashboard-main{

margin-left:90px;

}

.dashboard-content{

padding:20px;

}

}