.analysis-page{
    max-width:1200px;
    margin:auto;
    padding:30px;
    color:white;
}

.analysis-page h1{
    text-align:center;
    margin-bottom:30px;
}

.ats-card{
    background:#181818;
    padding:30px;
    border-radius:15px;
    text-align:center;
    margin-bottom:30px;
}

.ats-score{
    width:160px;
    height:160px;
    margin:20px auto;
    border-radius:50%;
    border:8px solid #ff7a00;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:42px;
    font-weight:bold;
    color:#ff7a00;
}

.analysis-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.analysis-card{
    background:#181818;
    padding:25px;
    border-radius:15px;
    margin-top:20px;
}

.analysis-card h2{
    color:#ff7a00;
    margin-bottom:15px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skill{
    padding:8px 15px;
    border-radius:25px;
    font-weight:600;
}

.matched{
    background:#00b894;
}

.missing{
    background:#e74c3c;
}

.analysis-card ul,
.analysis-card ol{
    padding-left:20px;
}

.analysis-card li{
    margin-bottom:10px;
}

.roadmap-title{
    margin-top:40px;
    color:#ff7a00;
}

.roadmap-container{
    display:flex;
    flex-direction:column;
    gap:25px;
    margin-top:20px;
}

.roadmap-card{
    background:#181818;
    padding:25px;
    border-radius:15px;
}

.roadmap-card h3{
    color:#ff7a00;
    margin-bottom:20px;
    font-size:28px;
}

.roadmap-level{
    background:#242424;
    padding:20px;
    margin-bottom:20px;
    border-left:5px solid #ff7a00;
    border-radius:10px;
}

.roadmap-level h4{
    margin-bottom:12px;
}

.roadmap-level strong{
    display:block;
    margin-top:10px;
    color:#ffb347;
}

.roadmap-level ul{
    padding-left:20px;
}

.analysis-empty{
    text-align:center;
    padding:80px;
}

.analysis-btn{
    padding:12px 30px;
    background:#ff7a00;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:20px;
}